{{#tag}}
<div class="card-wrapper tag">
    <div class="card tag">
        <i class="fa fa-tag" aria-hidden="true"></i><span>You're viewing posts with the tag {{name}}</span>
        <a class="filter-removal" href="{{@blog.url}}"><i class="fa fa-times" aria-hidden="true"></i><span>Remove filter</span></a>
    </div>
</div>
{{/tag}}